<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
          <endpointBehaviors>
            <behavior name="restBehavior">
              <webHttp helpEnabled="false" defaultOutgoingResponseFormat="Json" />
            </behavior>
          </endpointBehaviors>
        </behaviors>
        <services>
            <service name="CAH_GameService.CAH_Service">
                <endpoint address="" binding="webHttpBinding" contract="CAH_GameService.ICAH_Service" behaviorConfiguration="restBehavior">
                  
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:27511/CAHService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
  <connectionStrings>
    <add name="CAH_Entities" connectionString="metadata=res://*/CAH_DataModel.csdl|res://*/CAH_DataModel.ssdl|res://*/CAH_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVMACHINE\SILLYGOOSE;user id=CAH_Model;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
